<section class="container" id="about">
    <h2>Sobre mi</h2>
    <div class="about-container d-flex flex-column flex-md-row">
        <img src="../../../assets/perfil.svg" alt="Foto de perfil" class="img-fluid">
        <p class="px-md-5">Me llamó Alejandro Rua, tengo 27 años y soy full stack web developer,
            Me gusta la tecnologia aprendo con facilidad sobre todo lo relacionado con la programación, tengo
            capacidad de razonamiento logico y matematico, analisis y resolucion de problemas computacionales
        </p>
    </div>
</section>