<div class="d-flex">
    <li class="nav-item">
        <a class="nav-link" href="#"><img src="../../../assets/linkedin.svg" alt=""></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#"><img src="../../../assets/facebook.svg" alt=""></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#"><img src="../../../assets/instagram.svg" alt=""></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#"><img src="../../../assets/whatsapp.svg" alt=""></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#"><img src="../../../assets/github.svg" alt=""></a>
    </li>
</div>