<section class="container" id="projects">
    <h2>Proyectos</h2>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4" id="projects">
        <div class="col">
            <div class="card shadow-sm">
                <img src="./img/indio.png" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Pagina Tributo</h5>
                    <p class="card-text">Tributo a Carlos Alberto "El Indio" Solari ex cantante de los Redondos
                        y actualmente solista.</p>
                    <a href="https://codepen.io/alejo94/pen/KKQPmwr" target="_blank" class="btn">Ver más</a>
                </div>
                <img src="../../../assets/pencil-fill.svg" class="pen">
                <img src="../../../assets/x-circle-fill.svg" class="close">
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
                <!-- <img src="..." class="card-img-top" alt="..."> -->
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the
                        bulk of the card's content.</p>
                    <a href="https://codepen.io/alejo94/pen/KKQPmwr" target="_blank" class="btn">Ver más</a>
                </div>
                <img src="../../../assets/pencil-fill.svg" class="pen">
                <img src="../../../assets/x-circle-fill.svg" class="close">
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
                <!-- <img src="..." class="card-img-top" alt="..."> -->
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the
                        bulk of the card's content.</p>
                    <a href="https://codepen.io/alejo94/pen/KKQPmwr" target="_blank" class="btn">Ver más</a>
                </div>
                <img src="../../../assets/pencil-fill.svg" class="pen">
                <img src="../../../assets/x-circle-fill.svg" class="close">
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
                <!-- <img src="..." class="card-img-top" alt="..."> -->
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the
                        bulk of the card's content.</p>
                    <a href="https://codepen.io/alejo94/pen/KKQPmwr" target="_blank" class="btn">Ver más</a>
                </div>
                <img src="../../../assets/pencil-fill.svg" class="pen">
                <img src="../../../assets/x-circle-fill.svg" class="close">
            </div>
        </div>
    </div>
</section>