<div class="container container-father">
    <div class="container-login">
        <div class="loginImg">
            <img src="../../../assets/person-circle.svg">
        </div>
        <form class="form" [formGroup]="form" (ngSubmit)="onEnviar($event)">
            <input type="email" placeholder="Nombre de usuario" formControlName="email">
            <div *ngIf="Mail?.errors && Mail?.touched">
                <p *ngIf="Mail?.hasError('required')" class="error">
                    El email es requerido.
                </p>
                <p *ngIf="Mail?.hasError('email')" class="error">
                    El formato del email debe ser válido.
                </p>
            </div>
            <input type="password" placeholder="Contraseña" formControlName="password">
            <div *ngIf="Password?.errors && Password?.touched">
                <p *ngIf="Password?.hasError('required')" class="error">
                    El password es requerido.
                </p>
                <p *ngIf="Password?.errors?.['minlength']" class="error">
                    El password debe ser de 8 o más caracteres.
                </p>
            </div>
            <button type="submit" class="btn btn-success btn-access" [disabled]="form.invalid">Iniciar sesión</button>
        </form>
        <a routerLink="/home">🔙 Volver al inicio</a>
    </div>
</div>