<section class="container" id="school">
    <h2>Educación</h2>
    <div class="row row-cols-1 row-cols-sm-2 gx-5">
        <div>
            <h3 class="h3Title text-start">Argentina Programa 
                <span><img src="../../../assets/pencil-fill.svg"></span>
                <span><img src="../../../assets/x-circle-fill.svg" class="ps-2"></span>
            </h3>
            <ul>
                <li>1<sup>ra</sup> Etapa</li>
                <span class="date">octubre 2021 - diciembre 2021</span>
                <li>2<sup>da</sup> Etapa</li>
                <span class="date">febrero 2022 - cursando</span>
            </ul>
        </div>

        <div>
            <h3 class="h3Title text-start">Freecodecamp
                <span><img src="../../../assets/pencil-fill.svg"></span>
                <span><img src="../../../assets/x-circle-fill.svg" class="ps-2"></span>
            </h3>
            <ul>
                <li>Diseño Web Responsivo</li>
                <span class="date">mayo 2022 - cursando</span>
                <li>Algoritmos de JavaScript y Estructuras de Datos</li>
                <span class="date">mayo 2022 - cursando</span>
            </ul>
        </div>

        <div>
            <h3 class="h3Title text-start">Udemy
                <span><img src="../../../assets/pencil-fill.svg"></span>
                <span><img src="../../../assets/x-circle-fill.svg" class="ps-2"></span>
            </h3>
            <ul>
                <li>Master en CSS: Responsive, SASS, Flexbox, Grid y Bootstrap</li>
                <span class="date">junio 2021 - noviembre 2021</span>
                <li>Master en JavaScript: JS, jQuery, Angular, NodeJS</li>
                <span class="date">febrero 2021 - noviembre 2021</span>
            </ul>
        </div>

        <div>
            <h3 class="h3Title text-start">Instituto Sup. Nº7 "Populorum Progressio"
                <span><img src="../../../assets/pencil-fill.svg"></span>
                <span><img src="../../../assets/x-circle-fill.svg" class="ps-2"></span>
            </h3>
            <ul>
                <li>Tecnicatura Superior en Automatización y Robotica</li>
                <span class="date">febrero 2020 - cursando</span>
            </ul>
        </div>

        <div>
            <h3 class="h3Title text-start">Idiomas
                <span><img src="../../../assets/pencil-fill.svg"></span>
                <span><img src="../../../assets/x-circle-fill.svg" class="ps-2"></span>
            </h3>
            <ul>
                <li>Español</li>
                <li>Ingles basico</li>
            </ul>
        </div>
    </div>

</section>