<section class="container" id="skill">
    <h2>Skills</h2>
    <div class="skill-container">
        <div class="frontend">
            <h3>Front-end</h3>
            <ul>
                <li><img src="./img/html5.svg" alt=""><span class="list">HTML5</span></li>
                <li><img src="./img/css3.svg" alt=""><span class="list">CSS3</span></li>
                <li><img src="./img/javascript.svg" alt=""><span class="list">JAVASCRIPT</span></li>
                <li><img src="./img/bootstrap.svg" alt=""><span class="list">BOOTSTRAP</span></li>
                <li><img src="./img/typescript.svg" alt=""><span class="list">TYPESCRIPT</span></li>
                <li><img src="./img/angular.svg" alt=""><span class="list">ANGULAR</span></li>
            </ul>
        </div>
        <div class="backend">
            <h3>Back-end</h3>
            <ul>
                <li><img src="./img/git.svg" alt=""><span class="list">GIT</span></li>
                <li><img src="./img/java.svg" alt=""><span class="list">JAVA</span></li>
                <li><img src="./img/data.svg" alt=""><span class="list">BASE DE DATOS</span></li>
                <li><img src="./img/spring.svg" alt=""><span class="list">SPRING BOOT</span></li>
            </ul>
        </div>
    </div>
</section>