<section class="container" id="skill">
    <h2>Skills</h2>
    <div class="skill-container">
        <div class="frontend">
            <h3 class="h3Title">Front-end</h3>
            <ul>
                <li><img src="../../../assets/html5.svg" alt=""><span class="list">HTML5</span></li>
                <li><img src="../../../assets/css3.svg" alt=""><span class="list">CSS3</span></li>
                <li><img src="../../../assets/javascript.svg" alt=""><span class="list">JAVASCRIPT</span></li>
                <li><img src="../../../assets/bootstrap.svg" alt=""><span class="list">BOOTSTRAP</span></li>
                <li><img src="../../../assets/typescript.svg" alt=""><span class="list">TYPESCRIPT</span></li>
                <li><img src="../../../assets/angular.svg" alt=""><span class="list">ANGULAR</span></li>
            </ul>
        </div>
        <div class="backend">
            <h3 class="h3Title">Back-end</h3>
            <ul>
                <li><img src="../../../assets/git.svg" alt=""><span class="list">GIT</span></li>
                <li><img src="../../../assets/java.svg" alt=""><span class="list">JAVA</span></li>
                <li><img src="../../../assets/data.svg" alt=""><span class="list">BASE DE DATOS</span></li>
                <li><img src="../../../assets/spring.svg" alt=""><span class="list">SPRING BOOT</span></li>
            </ul>
        </div>
    </div>
</section>