<section class="container" id="skill">
    <h2>Skills</h2>
    <div class="skill-container">
        <div class="frontend">
            <h3 class="h3Title">Front-end</h3>
            <ul>
                <li>
                    <img src="../../../assets/html5.svg" class="svg"><span class="list">HTML5</span>
                    <img src="../../../assets/pencil-fill.svg" class="penfixed">
                </li>
                <li>
                    <img src="../../../assets/css3.svg" class="svg"><span class="list">CSS3</span>
                    <img src="../../../assets/pencil-fill.svg" class="penfixed">
                </li>
                <li>
                    <img src="../../../assets/javascript.svg" class="svg"><span class="list">JAVASCRIPT</span>
                    <img src="../../../assets/pencil-fill.svg" class="penfixed">
                </li>
                <li>
                    <img src="../../../assets/bootstrap.svg" class="svg"><span class="list">BOOTSTRAP</span>
                    <img src="../../../assets/pencil-fill.svg" class="penfixed">
                </li>
                <li>
                    <img src="../../../assets/typescript.svg" class="svg"><span class="list">TYPESCRIPT</span>
                    <img src="../../../assets/pencil-fill.svg" class="penfixed">
                </li>
                <li>
                    <img src="../../../assets/angular.svg" class="svg"><span class="list">ANGULAR</span>
                    <img src="../../../assets/pencil-fill.svg" class="penfixed">
                </li>
            </ul>
        </div>
        <div class="backend">
            <h3 class="h3Title">Back-end</h3>
            <ul>
                <li>
                    <img src="../../../assets/git.svg" class="svg"><span class="list">GIT</span>
                    <img src="../../../assets/pencil-fill.svg" class="penfixed">
                </li>
                <li>
                    <img src="../../../assets/java.svg" class="svg"><span class="list">JAVA</span>
                    <img src="../../../assets/pencil-fill.svg" class="penfixed">
                </li>
                <li>
                    <img src="../../../assets/data.svg" class="svg"><span class="list">BASE DE DATOS</span>
                    <img src="../../../assets/pencil-fill.svg" class="penfixed">
                </li>
                <li>
                    <img src="../../../assets/spring.svg" class="svg"><span class="list">SPRING BOOT</span>
                    <img src="../../../assets/pencil-fill.svg" class="penfixed">
                </li>
            </ul>
        </div>
    </div>
</section>