/* GENERALES */
:root {
    --color-primary: rgb(56, 171, 78) !important;
    --color-secondary: #333 !important;
    --font-primary: 'Roboto', sans-serif !important;
    --font-secondary: 'Open Sans', sans-serif !important;
    scroll-behavior: smooth !important;
}

body {
    font-family: var(--font-secondary) !important;
    color: var(--color-secondary) !important;
    background-color: #eee !important;
}

h2 {
    width: 170px;
    margin: auto;
    font-family: var(--font-primary) !important;
    font-weight: bold;
    font-size: calc(1em + 0.65vw) !important;
    color: var(--color-primary);
    text-transform: uppercase;
    text-align: center !important;
    transition: all 300ms;
    cursor: pointer;
}

h3, .h3Title {
    font-weight: bold;
    font-size: calc(1em + 0.20vw) !important;
    text-transform: uppercase;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

p, li {
    font-size: calc(0.7em + 0.5vw) !important;
}

span {
    color: var(--color-primary);
}

/* LOGO */
.navbar-brand {
    font-family: var(--font-primary);
    font-size: 30px !important;
    letter-spacing: 2px !important;
    transition: all 300ms;
}

.navbar-brand img {
    width: 50px;
}

.navbar-brand .logo,
.navbar-brand .logo2 {
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
    font-family: var(--font-primary);
    font-size: 12px;
    color: var(--color-secondary);
}

.navbar-brand .logo2 {
    margin-top: 25px;
}

/* MENU */
.navbar .navbar-nav a {
    margin: 0 10px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    color: var(--color-secondary) !important;
    transition: all 300ms;
}

.navbar .navbar-nav a {
    cursor: pointer;
}

/* BANNER */
#banner {
    height: 400px;
    display: flex;
    background: linear-gradient(135deg, #E3E3E3 0%, #9fe089 100%);
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

#banner h1 {
    padding: 10px;
    font-family: var(--font-primary);
    font-size: calc(1em + 0.75vw) !important;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#banner a {
    display: block;
    margin-top: 20px;
    text-decoration: none;
    color: white;
    background-color: var(--color-primary);
    padding: 10px 20px;
    box-shadow: .5px .5px 2px #eee;
    text-transform: uppercase;
    font-size: 12px;
    border: 2px solid var(--color-primary);
    border-radius: 50px;
    transition: all 300ms;
}

#banner a:hover {
    transform: scale(1.2);
}

/* ACERCA DE MI*/
main section {
    margin-top: 30px;
    padding: 20px;
    border-radius: 50px;
    background-color: white;
    box-shadow: 1px 1px 4px gray;
}

#about .about-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px !important;
}

.about-container div {
    position: relative;
    width: 100%;
    max-width: 200px;
}

.about-container p {
    position: relative;
    margin-bottom: 0 !important;
    /* margin-top: 30px; */
    text-align: justify;
}

/* EXPERIENCIA */
#experience {
    padding: 20px 40px;
}

#experience p {
    position: relative;
    text-align: justify;
}

/* EDUCACION */
#school {
    padding: 20px 40px !important;
}

#school ul {
    list-style-type: circle;
    padding-left: 17px;
}

#school li {
    font-size: calc(0.7em + 0.4vw) !important;
}

#school .date {
    color: rgb(126, 125, 125);
    font-size: 11px;
    text-transform: uppercase;
}

/* SKILL */
#skill {
    padding: 20px 40px !important;
}

#skill .skill-container {
    display: flex;
}

#skill .frontend {
    width: 50%;
}

#skill .backend {
    width: 50%;
}

#skill .frontend>ul,
#skill .backend>ul {
    list-style: none;
}

#skill .frontend img,
#skill .backend img {
    margin-top: 3px;
    margin-bottom: 3px;
    width: 48px;
    height: 48px;
}

#skill .frontend .list,
#skill .backend .list {
    margin-left: 20px;
    font-size: 14px;
    color: var(--font-secondary);
}

/* PROYECTOS */
#projects {
    padding: 20px 30px;
}

#projects .btn {
    display: block;
    width: 80px;
    margin: auto;
    font-size: 13px !important;
    color: white;
    background-color: var(--color-primary) !important;
    transition: all 300ms;
}

#projects .btn:hover {
    transform: scale(1.1, 1.1);
}

#projects .card-title {
    text-align: center !important;
}

#projects .card-text {
    text-align: justify !important;
}

/* FOOTER */
#footer {
    width: 100%;
    height: 90px;
    margin-top: 30px;
    padding: 30px;
    text-align: center;
    list-style: none;
    background: linear-gradient(135deg, #E3E3E3 0%, #9fe089 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#footer p {
    text-align: justify;
    font-size: calc(0.6em + 0.4vw) !important;
    margin: 0px;
}

/* LOGIN */
.container-father {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-login {
    width: 300px;
    padding: 20px;
    background-color: white;
    box-shadow: .5px .5px 2px #333;
}

.loginImg img {
    display: block;
    width: 150px;
    margin: auto;
}

.form {
    width: 200px;
    margin: auto;
}

.form p {
    color: rgb(233, 19, 19);
    font-size: 12px !important;
}

input[type="email"], 
input[type="password"] {
    display: block;
    margin: 20px auto;
    padding: 5px;
    border-radius: 50px;
    border: 1px solid rgb(199, 198, 198);
    font-size: 15px;
    padding-left: 10px;
}

input[type="email"]:focus, 
input[type="password"]:focus {
    outline: 1px solid var(--color-primary);
}

.btn-access {
    display: block !important;
    width: 100%;
    margin: 20px auto;
    border-radius: 50px !important;
}

.container-login a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #333;
    font-size: 13px;
}

/* PAGE NOT FOUND */
#pageError h1{
    margin-top: 50px;
    text-align: center;
    font-size: calc(1em + 0.65vw) !important;
}

#pageError a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #333;
    font-size: 15px;
}

/* LAPIZ EDITAR */
.pen,
.close,
.pen-perfil
 {
    width: 18px;
    position: absolute;
    top: -25px;
    right: 30px;
}

.close {
    right: 0;
}

.pen-perfil {
    right: 0;
}

.penfixed {
    width: 18px !important;
    position: absolute;
}


/* MEDIA QUERY */
@media (max-width: 575px) {
    .container {
        width: 90% !important;
    }

    .accordion,
    #about .about-container,
    #experience,
    #projects {
        padding: 20px 20px !important;
    }

    #skill .skill-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #skill .skill-container .list {
        display: none;
    }

    .skill-container ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0px !important;
    }

    #skill .frontend  .svg, #skill .backend .svg {
        width: calc(5em + 3vw) !important;
        height: calc(2.5em + 3vw) !important;
    }

}

@media (max-width: 767px) {
    
    .about-container p,
    #experience p  {
        margin-top: 20px;
    }

}

/* ACTIVAR ANIMACIONES */
@media (min-width: 992px) {
    /* #banner h1 {
        white-space: nowrap;
        border-right: 4px solid;
        width: 39ch;

        animation: typing 2s steps(39),
            blink .5s infinite step-end alternate;
        overflow: hidden;
    }

    @keyframes typing {
        from {
            width: 0
        }
    }

    @keyframes blink {
        50% {
            border-right: transparent;
        }
    } */

    /* .navbar-brand:hover {
        color: var(--color-primary) !important;
    }

    .navbar-brand:hover>span {
        color: var(--color-secondary) !important;
    } */

    .navbar .navbar-nav a:hover {
        transform: scale(1.2, 1.2);
        /* color: var(--color-primary) !important; */
    }

    .navbar .navbar-nav a {
        margin: 1px;
    }

    h2:hover {
        transform: scale(1.2);
        font-weight: bold;
    }

}