<nav class="navbar navbar-expand-lg navbar-light bg-transparent">
    <div class="container">
        <app-logo></app-logo>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="./index.html">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#about">Sobre mi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#experience">Experiencia</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#school">Educación</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#skill">Skills</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#projects">Proyectos</a>
                </li>
                <li class="nav-item" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <a class="nav-link">Iniciar sesion</a>
                </li>
                <div>
                    <app-social></app-social>
                </div>
            </ul>
        </div>
    </div>
</nav>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="loginImg">
                <img src="../../../assets/person-circle.svg" alt="">
            </div>
            <form action="">
                <input type="text" placeholder="Nombre de usuario">
                <input type="password" placeholder="Contraseña">
                <button type="button" class="btn btn-success btn-access">Iniciar sesion</button>
            </form>
        </div>
    </div>
</div>